.main {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  justify-content: center;
  width: fit-content;
}

.reports-wrapper {
  flex: 0 1 30%;
  margin: 0 10px 10px 10px;
}

.spinner {
  position: fixed;
  top: 200px;
  right: 50%;
  z-index: 100;
}

mat-tab-group {
  width: 100%;
}

.itemReportsCard {
  height: 172px;
}

.mainReport {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mainReport a {
  text-decoration: none;
  color: white;
}

.dashboard-buttons {
  display: flex;
  height: 65px;
  justify-content: flex-end;
  margin: 10px 10px 0 0;
}

.dashboard-buttons button {
  margin-left: 15px;
}

.mat-card-actions {
  text-align: right;
}

.statsCol {
  width: auto;
  margin: 0 0;
}

.statsOrigValue {
  color: rgb(238, 238, 113);
}

.statsComplValue {
  color: rgb(189, 236, 118);
}

.statsRemValue {
  color: rgb(245, 121, 76);
}

mat-card {
  margin-bottom: 5px;
  padding: 12px;
  height: 270px !important;
  text-align: center;
  box-shadow: 0 2px 6px 1px rgba(238, 178, 224, 0.6) !important;
}

mat-card:hover {
  box-shadow: 0 3px 12px 1px rgba(238, 178, 224, 0.6) !important
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

mat-card-subtitle {
  height: 25px;
}

mat-card-header.mat-card-header>div.mat-card-header-text {
  margin: 0px 0px 0px 0px !important;
  color: dodgerblue;
}

mat-card-header {
  justify-content: center;
}

.addMessage {
  margin-top: 10px;
}

.report-label {
  width: 60%;
  float: left;
}

.report-entry {
  margin-right: 6%;
}

hr {
  border: transparent;
}

.menuSettings {

}
