.fieldContainer{
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-evenly;  */
}

.field{
    flex-basis: auto;
    margin-right: 15px;
}

.fieldButton{
    height: 33px;
    margin: 10px;
    flex-basis: 55px;
}

.main{
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-evenly;  */
}

.items{
    flex-basis: 350px;
    margin: 10px; 
    max-width: 350px;
}
.spinner{
    position: fixed;
    top: 200px;
    right: 50%;
    z-index: 100;
}

mat-tab-group{
    width: 100%;
}

.statsLayout{
    display: flex;
    justify-content: space-between;
}

.dashboard-buttons{
    display: flex;
    justify-content: flex-end;
    padding: 1.2em;
}

.mat-card-actions{
    text-align: right;
}

.statsCol{
    width: auto;
}
.statsOrigValue{
    color: rgb(238, 238, 113);   
}
.statsComplValue{
    color: rgb(189, 236, 118);   
}
.statsRemValue{
    color: rgb(245, 121, 76);   
}

mat-card{
    margin-bottom: 5px;
    padding: 12px;
    height: 120px;
    width: 350px;
    overflow-x: hidden;
    overflow-y: hidden;
    /* box-shadow:  0 1px 3px 0 rgb(147, 181, 245) !important; */
    box-shadow: 0 2px 6px 1px rgba(238, 178, 224, 0.6) !important
}

.mat-elevation-z8{
    width: 100%;
}
.colStackTrace{
    max-width: 250px;     
    overflow-x: hidden;
    overflow-wrap: break-word   
}

@media only screen and (max-width: 780px) {
    .colHideMobile {
      max-width: 0px;
      display: none;
      overflow-wrap: normal;
    }
  }