.fieldContainer {
  display: flex;
  flex-flow: row wrap;
}

.field {
  /* flex-basis: auto; */
  margin-right: 15px;
  align-self: center;
}

.fieldButton {
  height: 33px;
  margin: 10px;
  flex-basis: 55px;
}

.error-logs-container {
  margin-top: 1em;
}

.iframe-container {
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}

.iframe-container iframe {
  position: absolute;
  border: 0;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
