.setting-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.field {
  margin-right: 15px;
  align-self: center;
}

.error-logs-container {
  background-color: #1A1B20;
}

.iframe-container {
  overflow: hidden;
  padding-top: 80vh;
  position: relative;
}

.iframe-container iframe {
  position: absolute;
  border: 0;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
