<div class="error-logs-container shadow">
  <div class="setting-container">
    <div class="field">
      <mat-checkbox [checked]="isLive" (change)="toggleBoard($event)">Live</mat-checkbox>
    </div>
    <div class="field">
      <mat-form-field>
        <mat-label>Environment</mat-label>
        <mat-select [(value)]="env" (selectionChange)="refreshContent($event)">
          <mat-option value="uat">
            UAT
          </mat-option>
          <mat-option value="prod">
            Prod
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="field">
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select [(value)]="dashBoardType" (selectionChange)="refreshContent($event)">
          <mat-option value="chart">
            Chart
          </mat-option>
          <mat-option value="table">
            Table
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="field">
      <mat-form-field>
        <mat-select placeholder="Application" [(ngModel)]="application" name="application"
          (selectionChange)="refreshContent($event)">
          <mat-option *ngFor="let item of applications" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="field">
      <mat-form-field>
        <input matInput [matDatepicker]="fromDatePicker" placeholder="From Date" [(ngModel)]="fromDatePickerValue"
          (ngModelChange)="refreshContent($event)" [disabled]="isLive">
        <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #fromDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="field">
      <mat-form-field>
        <input matInput [matDatepicker]="toDatePicker" placeholder="To Date" [(ngModel)]="toDatePickerValue"
          (ngModelChange)="refreshContent($event)" [disabled]="isLive">
        <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #toDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="iframe-container">
    <iframe [src]="iframeSourceUrl" allowfullscreen frameborder="0"></iframe>
  </div>
</div>