.field-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 2em auto;
  border-bottom: 1px;
  border: 2px solid red;
}

.field {
  /* flex-basis: auto; */
  margin-right: 15px;
  align-self: center;
}

.fieldButton {
  height: 33px;
  margin: 10px;
  flex-basis: 55px;
}

.error-logs-container {
  background-color:#1A1B20;
}

.iframe-container {
  overflow: hidden;
  padding-top: 70vh;
  /* position: relative; */
  border: 2px solid yellow;
}

.iframe-container iframe {
  position: absolute;
  border: 0;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
