.tab-container_project-details {
  width: 87%;
  margin: auto;
}

.project-details-container {
  margin: 2em auto;
}

.control-wrapper_project-detials {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.control-wrapper_project-detials button {
  height: 36px;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.title {
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255, .7);
}

.projTitle {
  color: white;
  font-size: larger;
}

.colTitle {
  max-width: 300px;
}
