.card-container {
  min-height: 187px;
}

.resolved,
.active {
  margin-top: 18px;
  padding-top: 24px;
  text-align: center;
  color: #ece8e8;
}

.resolved {
  border-right: 1px solid #636161 !important;
}

.card-title {
  color: #ece8e8;
}

