.tfs-report-container {
  width: 75%;
  margin: auto;
}

.setting-btn {
  position: fixed;
  top: 30vh;
  min-width: 34px !important;
  padding: 0 !important;
}

.setting-container {
  display: flex;
  flex-flow: row wrap;
  width: 75%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  border-bottom: 1px;
}

.setting-btn-wrapper > * {
  margin-left: 15px;
}

.row.row-cols-3 {
  padding-bottom: 7vh;
}

.col {
  padding: 1em;
}

.spinner {
  position: fixed;
  top: 200px;
  right: 50%;
  z-index: 100;
}

mat-tab-group {
  width: 100%;
}

.dashboard-buttons {
  display: flex;
  padding: 1.2em;
  justify-content: flex-end;
}

.dashboard-buttons button {
  margin-left: 15px;
}

.status-message {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tfs-tasks-container {
  height: calc(100vh - 45px);
  background-color: transparent;
}

mat-drawer {
  min-width: 20vw;
  display: flex;
  background-color: #000000b7;
}

.setting {
  display: block;
  position: fixed;
  background-color: #7b1fa2;
  color: white;
  border: 0;
  top: 25vh;
  width: 30px;
  height: 60px;
  border-radius: 0 10px 10px 0;
}

.setting.hide {
  display: none;
}
