<!-- <div class="spinner" *ngIf="showSpinner">
  <mat-spinner></mat-spinner>
</div> -->
<mat-drawer-container class="tfs-tasks-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" (openedChange)="openedChangeHandler($event)">
    <app-tfs-dashboard-settings [settingClosed]="settingClosed.asObservable()"> </app-tfs-dashboard-settings>
  </mat-drawer>
  <mat-drawer-content>
    <!-- settings -->
    <button mat-raised-button color="primary" class="setting-btn" (click)="drawer.toggle()">
      <fa-icon [icon]="cogIcon"></fa-icon>
    </button>
    <div class="setting-container">
      <mat-radio-group [(ngModel)]="period" (change)="getProjectDashboard()">
        <mat-radio-button value="current">Current Iteration</mat-radio-button>
        <mat-radio-button value="all">All Pending</mat-radio-button>
      </mat-radio-group>
      <div class="setting-btn-wrapper">
        <button mat-raised-button color="primary" (click)="goToResourceStats()">
          View By Resource
        </button>
        <button mat-raised-button color="primary" (click)="getProjectDashboard()">
          <fa-icon [icon]="refreshIcon"></fa-icon>
        </button>
      </div>
    </div>
    <!-- current iteration -->
    <div *ngIf="period === 'current'" class="tfs-report-container">
      <div *ngIf="iterationReport" class="row row-cols-3">
        <div class="col" *ngFor="let team of iterationReport.teams">
          <tfs-report-card [name]="period" [team]="team"></tfs-report-card>
        </div>
      </div>
      <div *ngIf="!iterationReport" class="status-message"> Please add teams using TFS Team settings</div>
    </div>
    <!-- all iteration -->
    <div class="tfs-report-container" *ngIf="period === 'all'">
      <div *ngIf="allPendingReport" class="row row-cols-3">
        <div class="col" *ngFor="let team of allPendingReport.teams">
          <tfs-report-card [name]="period" [team]="team"></tfs-report-card>
        </div>
      </div>
      <div *ngIf="!allPendingReport" class="status-message"> No data for selected projects.</div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
