<div class="spinner" *ngIf="showSpinner">
  <mat-spinner></mat-spinner>
</div>
<mat-drawer-container class="tfs-tasks-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" (closedStart)="reload()">
    <app-tfs-dashboard-settings> </app-tfs-dashboard-settings>
  </mat-drawer>
  <mat-drawer-content>
    <!-- settings -->
    <button mat-raised-button (click)="drawer.toggle()">Project setting</button>
    <mat-radio-group [(ngModel)]="period" (change)="getProjectDashboard()">
      <mat-radio-button value="current">Current Iteration</mat-radio-button>
      <mat-radio-button value="all">All Pending</mat-radio-button>
    </mat-radio-group>
    <!-- current iteration -->
    <div *ngIf="period === 'current'" class="tfs-report-container">
      <ng-container *ngIf="iterationReport">
        <div class="dashboard-buttons">
          <button mat-raised-button color="primary" (click)="refresh()">
            <span aria-hidden="true">
              <fa-icon [icon]="refreshIcon"></fa-icon>
            </span>
          </button>
          <button mat-raised-button color="primary" (click)="goToResourceStats()">
            View By Resource
          </button>
        </div>
        <div class="row row-cols-3">
          <div class="col" *ngFor="let team of iterationReport.teams">
            <tfs-report-card [name]="period" [team]="team"></tfs-report-card>
          </div>
        </div>
      </ng-container>
      <div *ngIf="!iterationReport" class="status-message"> Please add teams using TFS Team settings</div>
    </div>
    <!-- all iteration -->
    <div class="tfs-report-container" *ngIf="period === 'all'">
      <ng-container *ngIf="allPendingReport">
        <div class="dashboard-buttons">
          <button mat-raised-button color="primary" (click)="refresh()">
            <fa-icon [icon]="refreshIcon"></fa-icon>
          </button>
          <button mat-raised-button color="primary" (click)="goToPendingResourceStats()">
            View By Resource
          </button>
        </div>
        <div class="row row-cols-3">
          <div class="col" *ngFor="let team of allPendingReport.teams">
            <tfs-report-card [name]="period" [team]="team"></tfs-report-card>
          </div>
        </div>
      </ng-container>
      <div *ngIf="!allPendingReport" class="status-message"> No data for selected projects.</div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
