.tfs-report-container {
  padding: 30px 60px;
  position: relative;
  top: calc(15vh + 60px);
  height: calc(85vh - 60px);
  overflow-y: auto;
}

.setting-btn {
  position: fixed;
  top: 30vh;
  min-width: 34px !important;
  padding: 0 !important;
  z-index: 999;
  border-radius: 0 8px 8px 0;
}

.setting-container {
  position: fixed;
  top: 30px;
  left: 160px;
  width: calc(100% - 130px - 60px);
  height: 15vh;
  border-radius: 8px;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0px 3px 9px 4px rgba(238, 178, 224, 0.6) !important;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.setting-btn-wrapper>* {
  margin-left: 15px;
}

.row.row-cols-3 {
  padding-bottom: 7vh;
}

.col {
  padding: 1em;
}

mat-tab-group {
  width: 100%;
}

.dashboard-buttons {
  display: flex;
  padding: 1.2em;
  justify-content: flex-end;
}

.dashboard-buttons button {
  margin-left: 15px;
}

.status-message {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tfs-tasks-container {
  background-color: transparent;
}

mat-drawer {
  min-width: 20vw;
  display: flex;
  background-color: #000000b7;
}

mat-drawer-content {
  height: 100vh;
}

.setting {
  display: block;
  position: fixed;
  background-color: #7b1fa2;
  color: white;
  border: 0;
  top: 25vh;
  width: 30px;
  height: 60px;
  border-radius: 0 10px 10px 0;
}

.setting.hide {
  display: none;
}
