.tfs-report-container {
  width: 70%;
  margin: auto;
}

.row.row-cols-3 {
  padding-bottom: 7vh;
}

.col {
  padding: 1em;
}

.spinner {
  position: fixed;
  top: 200px;
  right: 50%;
  z-index: 100;
}

mat-tab-group {
  width: 100%;
}

.dashboard-buttons {
  display: flex;
  padding: 1.2em;
  justify-content: flex-end;
}

.dashboard-buttons button {
  margin-left: 15px;
}

.add-message {
  margin-top: 10px;
}

.tfs-tasks-container {
  height: calc(100vh - 45px);
}

mat-drawer{
  min-width: 20vw;
  display: flex;
  /* flex-direction: column;
  align-items: flex-start; */
}
