<mat-drawer-container class="tfs-tasks-container inner-layout" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" (openedChange)="openedChangeHandler($event)">
    <app-tfs-dashboard-settings [settingClosed]="settingClosed.asObservable()"> </app-tfs-dashboard-settings>
  </mat-drawer>
  <mat-drawer-content>
    <!-- settings -->
    <button mat-raised-button color="primary" class="setting-btn" (click)="drawer.toggle()">
      <fa-icon [icon]="cogIcon"></fa-icon>
    </button>
    <div class="setting-container inner-layout">
      <mat-radio-group [(ngModel)]="period" (change)="switchPeriod()">
        <mat-radio-button value="current">Current Iteration</mat-radio-button>
        <mat-radio-button value="all">All Pending</mat-radio-button>
      </mat-radio-group>
      <div class="setting-btn-wrapper">
        <button mat-button color="accent" (click)="viewByResource()">
          <fa-icon [icon]="resourceIcon"></fa-icon>
          View By Resource
        </button>
        <button mat-raised-button color="primary" (click)="getProjectDashboard()">
          <fa-icon [icon]="refreshIcon"></fa-icon>
          Reload
        </button>
      </div>
    </div>
    <!-- current iteration -->
    <div class="tfs-report-container" *ngIf="period === 'current'">
      <div *ngIf="iterationReport" class="row row-cols-3">
        <div class="col" *ngFor="let team of iterationReport.teams">
          <tfs-report-card [name]="period" [team]="team"></tfs-report-card>
        </div>
      </div>
      <div *ngIf="errorMessage" class="status-message">{{errorMessage}}</div>
    </div>
    <!-- all iteration -->
    <div class="tfs-report-container" *ngIf="period === 'all'">
      <div *ngIf="allPendingReport" class="row row-cols-3">
        <div class="col" *ngFor="let team of allPendingReport.teams">
          <tfs-report-card [name]="period" [team]="team"></tfs-report-card>
        </div>
      </div>
      <div *ngIf="errorMessage" class="status-message">{{errorMessage}}</div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
