<div>
  <mat-toolbar color="primary">
    <div>
      <a [routerLink]="[ '/home' ]">
        <div>Captor Dashboard</div>
      </a>
    </div>
    <div class="nav-wrapper">
      <a [routerLink]="[ '/bug-dashboard' ]" [ngClass]="isActive('/bug-dashboard')">
        Application Bugs
      </a>
      <a [routerLink]="[ '/error-logs-dashboard' ]" [ngClass]="isActive('/error-logs-dashboard')">
        Error Logs
      </a>
      <a [routerLink]="[ '/tfs-dashboard' ]" [ngClass]="isActive('/tfs-dashboard')">
        TFS Tasks
      </a>
      <a [routerLink]="[ '/tfs-dashboard/export' ]" [ngClass]="isActive('/tfs-dashboard/export')">
        Export Reports
      </a>
    </div>
  </mat-toolbar>
  <div class="baseMaster">
    <div class="mainMaster">
      <loader></loader>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
