mat-toolbar {
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  height: 45px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;

}

mat-toolbar>div {
  font-size: smaller;
  cursor: pointer;
}

mat-icon {
  vertical-align: middle;
}

.baseMaster {
  width: 100%;
  display: flex;
  justify-content: stretch;
  margin-top: 40px;
}

.mainMaster {
  background-color: #212121;
  width: 100%;
  margin: auto;
}

.spinner {
  position: fixed;
  top: 200px;
  right: 50%;
  z-index: 100;
}

.sidenav-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 240px;
}

.sidenavItem {
  color: white;
  padding-top: 10px;
  vertical-align: middle;
}

.sidenavItem span {
  margin-left: 10px;
}

.menuSettings {
  flex-grow: 2;
}

.menuSettings>div {
  float: right;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  min-width: 1250px !important;
  overflow: auto;
}

.nav-wrapper {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  font-size: x-small;
  margin: 0;
}

.settings {
  width: 60px;
}

.nav-wrapper a {
  margin-left: 2em;
}

.nav-wrapper a:hover,
.nav-wrapper a.active {
  transition: all .7;
  font-weight: bolder;
  color: black;
}
