.bug-dashboard-container {
  padding: 30px;
  /* min-width: 1168px;
  overflow: hidden; */
}

mat-card {
  font-size: 16px;
  background-color: rgba(1, 2, 5, 0.274);
  ;
  box-shadow: 0 2px 6px 1px rgba(238, 178, 224, 0.6) !important
}

mat-card:hover {
  box-shadow: 0 4px 12px 1px rgba(238, 178, 224, 0.6) !important
}

.mat-table {
  background: #27272700;
  width: 100%;
}

th.mat-header-cell {
  background-color: #272727e7 !important;
}


.table-col {
  padding: 5px 10px !important;
  border-right: 1px solid #5b5858;
}

.tab-body-wrapper {
  margin: 0 2% 2em;
}

.top-wrapper {
  display: flex;
}

.card-total,
.card-critical,
.card-high {
  flex: 1 1 0;
  margin-bottom: 1.2em;
}

.middle-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.middle-wrapper_inner-wrapper {
  flex: 1 1 0;
}

.card-title {
  color: #ece8e8;
}

.card-breakdown {
  flex: 2 1 0;
  margin-right: 1.2em;
}

.chart-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  fill: white;
  background-color: #171717;
  display: flex;
  justify-content: center;
}

.card-low,
.card-medium {
  display: block;
  width: 100%;
}

.card-total,
.card-critical,
.card-medium,
.card-high {
  flex: 1 1 0;
  margin-bottom: 1.2em;
}

.lower-wrapper {
  background-image: linear-gradient(to right, #080808, #5c5b5b6b);
  margin-top: 1.2em;
  display: flex !important;
  flex-direction: row;
  flex-wrap: nowrap;
  height: fit-content;
}

.active-bugs {
  flex: 1 1 0;
}

.active-bugs>mat-card-content {
  padding: 45px 0 30px;
}

.bugs-details {
  flex: 2 1 0%;
}

.bugs-details>mat-card-content {
  padding: 20px 0;
}

.mat-table-div {
  overflow: auto;
  height: 320px !important;
}

table {
  width: 100%;
}

bug-card:not(:last-child) {
  margin-right: 1.2em;
}

a {
  color: white;
}

a:hover {
  color: rgba(238, 178, 224, 0.6);
  text-decoration: none;
}


::ng-deep.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: white;
}
