<div class="bug-dialog-wrapper">
  <h1 mat-dialog-title>Bug Details: {{data.title}}</h1>
  <div mat-dialog-content>

    <table mat-table #table [dataSource]="data.apps" style="height: auto;">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="width:60px"> Id </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef style="margin-right: 8px;"> Title </th>
        <td mat-cell *matCellDef="let row"> {{row.title}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['id', 'title']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'title'];"></tr>
    </table>

  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="onCloseClick()">Close</button>
  </div>
</div>
