.export-report-container mat-expansion-panel {
  margin-left: 2vw;
  margin-right: 2vw;
}

.export-report-container mat-expansion-panel:first-child {
  margin-top: 3vh;
}

.export-report-container mat-expansion-panel:last-child {
  margin-bottom: 3vh;
}


::ng-deep mat-expansion-panel-header {
  height: 80px !important;
}

::ng-deep mat-expansion-panel-header span.mat-content {
  flex-direction: column;
  align-items: center;
}

::ng-deep mat-panel-title {
  font-size: 1.2em !important;
  line-height: 1.4em;
}
