.export-report-container mat-expansion-panel {
  margin-left: 2vw;
  margin-right: 2vw;
}

.export-report-container mat-expansion-panel:first-child {
  margin-top: 3vh;
}

.export-report-container mat-expansion-panel:last-child {
  margin-bottom: 3vh;
}
