<div class="pageTitle">
  <span> Most Frequent Exceptions</span>
</div>


<!-- <div class="spinner" *ngIf="showSpinner">
  <mat-spinner></mat-spinner>
</div> -->
<div class="fieldContainer">
  <div class="field">
    <mat-form-field>
      <mat-label>Environment</mat-label>
      <mat-select [(value)]="environment">
        <mat-option value="dev">
          Dev
        </mat-option>
        <mat-option value="uat">
          UAT
        </mat-option>
        <mat-option value="prod">
          Prod
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="field">
    <mat-form-field>
      <mat-label>Application</mat-label>
      <mat-select [(value)]="application">
        <mat-option value="note">
          Note
        </mat-option>
        <mat-option value="Vans">
          Vans
        </mat-option>
        <mat-option value="captor">
          Captor
        </mat-option>
        <mat-option value="cdws">
          CDWS
        </mat-option>
        <mat-option value="rar">
          RAR
        </mat-option>
        <mat-option value="REPORTSBATCH">
          REPORTSBATCH
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="fieldButton">
    <button mat-raised-button (click)="getMostFrequentLogs()">
      Search
    </button>
  </div>

</div>

<div class="main">
  <ng-container *ngIf="data">
    <div class="items" *ngFor="let logData of data">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ logData.count }}</mat-card-title>
          <mat-card-subtitle>

          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          {{ logData.shortExceptionMessage }}
          <!-- <div class="statsLayout">
              <div class="statsCol">
                <div>
                  <span class="statsLabel">Active Tasks </span>&nbsp;
                  <span>{{ team.currentStats.activeTasks }}</span>
                </div>
                <div>
                  <span class="statsLabel">New Tasks </span
                  >&nbsp;&nbsp;&nbsp;&nbsp;
                  <span>{{ team.currentStats.newTasks }}</span>
                </div>
              </div>
              <div class="statsCol">
                <div>
                  <span class="statsLabel">Original Estimate </span>&nbsp;
                  <span class="statsOrigValue">{{
                    team.currentStats.originalEstimate | number: "1.1-2"
                  }}</span>
                </div>
                <div>
                  <span class="statsLabel">Completed Work </span>&nbsp;&nbsp;
                  <span class="statsComplValue">{{
                    team.currentStats.completedWork | number: "1.1-2"
                  }}</span>
                </div>
                <div>
                  <span class="statsLabel">Remaining Work </span>&nbsp;&nbsp;
                  <span class="statsRemValue">{{
                    team.currentStats.remainingWork | number: "1.1-2"
                  }}</span>
                </div>
              </div>
            </div> -->
        </mat-card-content>

        <mat-card-actions>
          <button mat-stroked-button
            (click)="openDialog(logData.count, logData.shortExceptionMessage, logData.stackTrace)">
            Details
          </button>
        </mat-card-actions>

      </mat-card>
    </div>
  </ng-container>
  
</div>