/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #1A1B20;
  color: white;
  /* position: relative; */
  box-sizing: border-box;
}

.error {
  color: red;
}

label {
  padding: 5px;
  display: block;
}

/* .card-content {
  max-height: 400px;
  overflow-y: auto;
} */

/* .button-submit {
  position: relative;
  left: 94%;
} */

.pageTitle {
  height: 38px;
  background-color: #9c27b0;
  vertical-align: middle;
  padding-left: 10px;
  padding-top: 12px;
  margin-bottom: 10px;
}

.main-tfs-report {
  display: flex;
  flex-flow: row wrap;
}

.item-tfs-report {
  flex-basis: 90%;
  margin: 20px;
  max-width: 500px;
}

.mat-tab-group {
  width: 100%;
  height: 100vh;
}

button:focus {
  outline: none !important;
}

/* override scrollbar */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
