/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #1A1B20;
  color: white;
  box-sizing: border-box;
}

.error {
  color: red;
}

label {
  padding: 5px;
  display: block;
}

.main-tfs-report {
  display: flex;
  flex-flow: row wrap;
}

.item-tfs-report {
  flex-basis: 90%;
  margin: 20px;
  max-width: 500px;
}

button:focus {
  outline: none !important;
}

/* override scrollbar */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.inner-layout {
  min-width: 1168px;
  overflow: hidden;
}
