.container {
  height: 100%;
  padding-top: 7vh;
  background-color: transparent;
}

::ng-deep mat-expansion-panel-header {
  height: 80px !important;
}

::ng-deep mat-expansion-panel-header span.mat-content {
  flex-direction: column;
  align-items: center;
}

::ng-deep mat-panel-title {
  font-size: 1.2em !important;
  line-height: 1.4em;
}
