.report-container {
  width: 90%;
  height: max-content;
  /* height: -webkit-max-content; */
  /* height: -moz-max-content; */
  margin: 15vh auto;
  background-color: transparent;
  display: flex;
  /* display: -ms-flexbox; */
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 12vh auto;
  background-color: transparent;
}

mat-card {
  flex: 1 1 0;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  padding: 1vw 2vw;
  height: max-content;
  background-color: #131518;
  box-shadow: 0px 3px 9px 4px rgba(238, 178, 224, 0.6) !important;

  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

mat-card:hover {
  top: -25px;
}

fa-icon {
  font-size: 22px;
  margin-right: 6px;
}
