.card-container {
  min-height: 187px;
  padding-bottom: 1em;
}

.resolved,
.active {
  margin-top: 18px;
  padding-top: 24px;
  text-align: center;
  color: #ece8e8;
}

.resolved {
  border-right: 1px solid #636161 !important;
}

.card-title {
  color: #ece8e8;
}

.mat-card-content {
  font-size: 22px;
  margin-bottom: 16px !important;
}

mat-card {
  background-color: rgba(1, 2, 5, 0.274);
  font-size: 16px;
  box-shadow: 0 2px 6px 1px rgba(238, 178, 224, 0.6) !important
}

mat-card:hover {
  box-shadow: 0 4px 12px 1px rgba(238, 178, 224, 0.6) !important
}

